<div id="wrap">
  <section id="hero" class="m-center text-center bg-shop full-height">
    <div class="center-box">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="hero-unit ">
              <h1 class="title"><%= @order.order_name %>你的訂單狀態: <%= @order.status %></h1>
            </div>
          </div>
          <div class="col-sm-12 img-hero">
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </section>
</div>
