@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import 'ionicons';
@import "core";
@import "anima";
@import "colors";
@import "contents";
@import "cta";
@import "features";
@import "footer";
@import "forms";
@import "menu-overlay";
@import "modal";
@import "numbers";
@import "owl.carousel";
// @import "purple";
@import "sliders";
@import "socials";
@import "custom";
// @import "turquoise";
.slider_item1 {
   background: image-url("sliders_1.png");
}
.slider_item2 {
   background: image-url("sliders_2.png");
}
.slider_item3 {
   background: image-url("sliders_3.png");
}
.slider_item4 {
   background: image-url("sliders_4.png");
}
.slider_item5 {
   background: image-url("sliders_5.png");
}
.slider_item6 {
   background: image-url("sliders_6.png");
}
.form-resize {
  resize: none;
}
.spacing {
  height:20px;
}
.spacing_large {
  height:50px;
}
@media (max-width: 420px) and (min-width: 321px) {
  .title {
    font-size: 46px !important;
  }
  #menu-link {
    display: none;
  }
  .img-hero {
    min-height: 210px;
    background-size: 400px 210px;
    margin-left:30px;
    min-height: 210px;
  }
  .row.mobile_row {
    margin-top: -150px;
  }
}
@media (max-width: 321px){
  .title {
    font-size: 35px !important;
  }
  .demo2 {
     text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 0 0 #fff, 0 2px 0 #fff, -2px 0 0 #fff, 0 -2px 0 #fff;
  }
  .row.mobile_row {
    margin-top: 0px;
  }
  #menu-link {
    display: none;
  }
  .img-hero{
    margin-bottom: 35px;
    background-size: 330px 210px;
    margin-left:30px;
    min-height: 210px;
  }
}
